@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-projects {
  margin-bottom: 40px;
}

.project-image-container {
  flex: 1;
  max-width: 48%;
  overflow: hidden;
  margin: 1%;
}

.project-image-container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-image-container img:hover {
  transform: scale(1.05);
}

.slick-slide {
  padding: 0 10px;
}

.image-Content img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-Content img:hover {
  transform: scale(1.05);
}

/* Custom styles for the slider arrows */
.slick-prev, .slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.slick-prev:before, .slick-next:before {
  font-size: 20px;
  color: white;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.slick-list {
  overflow: hidden;
  padding: 0 40px;
}

@media (max-width: 1250px) {
  .slick-arrow, .slick-next {
      display: none !important;
  }
}

.project-image-container{
  display: inline-block;
}

.overlay-button {
  bottom: 10%;
  left: 25%;
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-image-container:hover .overlay-button {
  opacity: 1;
}

.over-button{
  color: black;
  background: linear-gradient(90deg, rgba(203,255,54,1) 0%, rgba(53,254,255,1) 48%, rgba(251,184,156,1) 100%);
  transition: ease-out 0.3s;
  font-family: 'Play', sans-serif;
  font-weight: bold;
  box-shadow: 5px 5px 12px black;
}


.over-button:hover{
  background: linear-gradient(190deg, rgba(0,0,0,1) 0%, rgba(14,34,113,1) 48%, rgba(0,0,0,1) 100%);
  transition: ease-in 0.2s;
}


