.navbar.scrolled::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, 0.087);
    backdrop-filter: blur(22px);
    z-index: -1;
}